.board {
    background-color: lightslategrey;
    height: 500px;
    width: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.screen_user-input {
    background-color: black;
    color: whitesmoke;
    border-style: none;
    height: 75px;
    width: 280px;
    margin-top: 20px;
    padding-right: 20px;
    text-align: right;
    font-size: 20px;
}

.board_container {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.board_operator-container {
    display: flex;
    flex-direction: column;

}

.board_operator {
    background-color: goldenrod;
    color: darkslategrey;
    height: 50px;
    width: 50px;
    margin: 10px;
    border-style: none;
}

.clear-button {
    width: 60px;
    height: 60px;
    margin: 10px;
}