.button {
    width: 60px;
    height: 60px;
    background-color: darkslategrey;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
}

.board_number-container {
    display: flex;
    flex-wrap: wrap;
    width: 250px;
}